body {
	background-color: #f8f8f8;
}

.login .container {
	padding-top: 8%;
}

body.dashboard {
	background-color: #f8f8f8;
}

.full-width {
	width: 100%;
}

.navbar-primary {
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 5px #777;
	-moz-box-shadow: 0px 0px 5px #777;
	box-shadow: 0px 0px 5px #777;
}

.navbar-toggle {
	background-color: #fff;
	border: 1px solid #337ab7;
}

.navbar-toggle .icon-bar {
	background-color: #337ab7;
}

#sidebar .panel,
#content-body .panel {
	border: 0;
	-webkit-box-shadow: 0px 1px 3px #bbb;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}